.settings/*
bin-debug/*
bin-release/*
html-template/*
bin/*
doc/*
obj/*
 
*/.svn/*
.as3_classpath
.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project
 
Thumbs.db
.DS_Store

*.flv
*.mp3
*.air
*.svn
*.doc
*.m4a
*.m4p